<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuedong.sport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yuedong.ydapplication.YDActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.yuedong.ydapplication.provider.HardWareProvider"
            android:authorities="com.yuedong.sport.yue.open.hardware"
            android:exported="true" />
        <service
            android:name="com.yuedong.yue.open.hardware.YDHardwarePlugService"
            android:exported="true" />

        <activity
            android:name="com.yuedong.yue.open.hardware.ui.ActivityHardwareHome"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity android:name="com.yuedong.yuebase.ui.ActivityScanCode"
            android:screenOrientation="portrait"
            android:exported="true"/>
    </application>

</manifest>
