<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuedong.sport">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yuedong.ydapplication.YDActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.yuedong.ydapplication.provider.HardWareProvider"
            android:authorities="com.yuedong.sport.yue.open.hardware"
            android:exported="true" />

        <service
            android:name="com.yuedong.yue.open.hardware.YDHardwarePlugService"
            android:exported="true" />

        <activity
            android:name="com.yuedong.yue.open.hardware.ui.ActivityHardwareHome"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuedong.yuebase.ui.ActivityScanCode"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.yuedong.ydapplication.CallSMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.yuedong.yue.open.hardware.YDNotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>